*{
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.tour-item{
    margin-bottom: 3%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tour-item:hover{
    background-color: gainsboro;
}
.tour-item h4{
    color: #4fbbbc!important;
    font-family: inherit;
}

.tour-item span{
    color: #4fbbbc!important;
    font-family: inherit;
}

.tour-img{
    position: relative;
}
.tour-img:hover .desc {
    display: block;
}
.place{
    position: absolute;
    display: inline-block;
    background-color: rgba(255,102,0,.9)    ;
    float: left;
    width: 21%;
    padding: 2%;
    text-align: center;
    border-top-left-radius: 5px;
}
.place span {
    font-size: 14pt;
    color: white!important;
}
.desc{
    width: 100%;
    color: white;
    text-align: justify;
    font-size: 16px;
    margin-top: 5%;
    padding: 4%;
    display: none;
}

.tour-img .price{
    /*position: absolute;*/
    background-color: rgba(79,187,188,.9);
    color: white;
    border-top-right-radius: 5px;
    float: right;
    font-size: 16pt;
    width: 20%;
    height: 20%;
    padding: 6% 0 0 0;
    text-align: center;
}
.user-avatar{
    width: 20%;
    float: left;
    margin-top: 2%;
}

.user-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.info{
    width: 80%;
    float: right;
    padding: 2%;
}